[submodule ".registry"]
	path = .registry
	url = https://github.com/jmgirard/jmgirard.r-universe.dev
	branch = HEAD
[submodule "ackwards"]
	path = ackwards
	url = https://github.com/jmgirard/ackwards
[submodule "circumplex"]
	path = circumplex
	url = https://github.com/jmgirard/circumplex
[submodule "hitop"]
	path = hitop
	url = https://github.com/jmgirard/hitop
[submodule "rlmstudio"]
	path = rlmstudio
	url = https://github.com/jmgirard/rlmstudio
