[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "circumplex"]
	path = circumplex
	url = https://github.com/jmgirard/circumplex
